.HomeSearchDiv {
    position: absolute;
    z-index: 1000;
    margin-top: 350px;
    margin-right: 200px;
    margin-left: 200px;
    
}

.HomeSearchBar {
    font-size: xx-large;
    text-align: center;
}

.HomeTopListingImage {
    max-height: 350px;
}


@media screen and (max-width: 1050px) {
    .HomeSearchDiv {
        margin-top: 80px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 730px) {
    
    .HomeSearchBar {
        font-size: medium;
        text-align: center;
        
    }

    .HomeTopListingImage {
        height: 250px;
        width: 350px;
    }
}

